<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>

<body class="signup vh100">
    <div class=row>
        <div class="center-align offset-s2 col s8 offset-s2  ">
            <figure>
                <img class="responsive-img" src="../assets/images/user.png" alt="">
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="input-field offset-s1 col s10 offset-s1  offset-l3 col l6 offset-l3">
            <i class="material-icons prefix">email</i>
            <input id="email2" type="email" class="validate">
            <label for="icon_prefix">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field offset-s1 col s10 offset-s1 offset-l3 col l6 offset-l3 ">
            <i class="material-icons prefix">lock</i>
            <input id="password2" type="password" class="validate">
            <label for="icon_prefix">Password</label>
        </div>
    </div>
    <div class="row">
        <div class="offset-s3 col s6 offset-s3 center-align">
            <a class="waves-effect waves-light btn green accent-4" id="login" >Acceder</a>
        </div>
    </div>

    <script src="../vendors/jquery/jquery.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAsWlB0dmOzld3qIJyJgBztHJNq-ef_1_U",
            authDomain: "red-social-d49cb.firebaseapp.com",
            databaseURL: "https://red-social-d49cb.firebaseio.com",
            projectId: "red-social-d49cb",
            storageBucket: "red-social-d49cb.appspot.com",
            messagingSenderId: "270231005297"
        };
        firebase.initializeApp(config);
    </script>
    <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>